.navigation{
    float: none ;
}
.activeMenuitem {
    float: none;
}
.menuitem {
    float: none;
}
.right{
        float: none;
}
.left{
        float: none;
}
.bloggpost{
       overflow: hidden;  
}
.diktstycke {
    padding-left: 0;
}
#container{
    background-color: #EDE8CD;   
}
#content{
    margin-left: 0;
    overflow-x : hidden;
}
#fencerspic{
    width: 320px;
}
#BildMig {
    width: 320px;
}


