.navigation{
    float: none ;
}
.activeMenuitem {
    float: none;
}
.menuitem {
    float: none;
}
.right{
        float: none;
}
.left{
        float: none;
}
.bloggpost{
       overflow: hidden;  
}
.diktstycke {
    padding-left: 0;
}
#contact-form label { 
    width: 160px;
    text-align: left;
    display: block;
    float: none;
    padding-right: 10px;
    clear: left;
}

img, video { max-width: 100%; }

#email, #phone { 
    width : auto;
}
#container{
    background-color: #EDE8CD;   
}
#content{
    margin-left: 0;
    overflow-x : hidden;
}
#fencerspic{
    width: 320px;
}
#BildMig {
    width: 320px;
}


