@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

/*
* {
    border: 1px solid red;                
}
*/

/***************     Layout     *****************/

/*

background body #C9C9C9
background container #C9C9C9
footer   #F3E789
border #3D402A
navigation  #3D402A / #F3FFA9;
dikt #D93E27
text  #3D402A

*/
article, aside, details, figcaption, figure, 
footer, header, hgroup, main, menu, nav, section{ 
 display: block; 
} 

body { 
    background-color: #C9C9C9;
}

header {
    border: 1px solid #EDE8CD;  
    background-color: #F3E789;       
    padding: 40px;
    background-image: url(pics/smallLogo.png); 
    background-repeat: round;
/*    background-size: cover; */
    opacity: 0.4;
}

#container{
    max-width: 960px;
    overflow: auto;
    margin: 0 auto;
    background-color: #F3E789;   
    border: 2px solid #3D402A;
}

#contentFrame{
    border: 1px solid #EDE8CD;
    background-color: #EDE8CD;   
}
Main {
    border: 1px solid #EDE8CD;
    overflow: auto;    
    margin-left: 180px;
    background-color: #EDE8CD;     
}

#sidebar{

}
footer {
    border: 1px solid #F3E789;  
    padding-top: 60px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: #F3E789;

}
#contact-form{ 
    width: 500px;
    background-color: #F3E789;
}

#contact-form label { 
    width: 160px;
    text-align: right;
    display: block;
    float: left;
    padding-right: 10px;
    clear: left;
}

#contact-form textarea, input { 
    width: 200px;
    background-color: #EDE8CD;    
    margin-bottom: 10px;
}
#contact-form textarea { 
    height: 100px;
    resize:vertical;
}
#contact-form select { 
    background-color: #EDE8CD;      
}
#contact-form select { 
    background-color: #EDE8CD;      
}


#email, #phone { 
    width : auto;
}

article {
       overflow: auto;  
}

.not{
    background-image: url(pics/SPbaun6.ico); 
    background-repeat: no-repeat; 
    background-position: top left;
    text-indent: 40px;
}


.dikt{
    color: #D93E27;
}

.diktstycke{
}

.tribut{
}
.navigation{
    float: left;
    width: 120px;
    list-style:none;
    background-color: #EDE8CD;   

}

.navigation ul{ 
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.navigation li{ 
    border: 1px solid #EDE8CD;  
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li a{ 
    display: block;
    background-color: #F3E789;
    color: #3D402A;
    padding: 5px;
}
.navigation .activeMenuitem{ 
    background-color: #EDE8CD;
}

.navigation li a:hover{ 
    background-color: #3D402A;
    color:#F3E789;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
    transform: scale(1.25);
}

.activeMenuitem {
    background-image: url(pics/sprite.png); 
    width: 120px;
    height: 34px;
    display: block;
    float:left;
    border: solid 1px #3D402A;      
}


.menuitem {
    background-image: url(pics/sprite.png); 
    width: 120px;
    height: 24px;
    display: block;
    float:left;
    border: solid 1px #3D402A;  
}

#menuhome {
    background-repeat: no-repeat; 
    background-position: 0 -48px;
    text-indent: 24px;
    
}
#menulaboration {
    background-repeat: no-repeat; 
    background-position: 0 -144px;
    text-indent: 24px;
    
}
#menupresentation {
    background-repeat: no-repeat; 
    background-position: 0 -240px;
    text-indent: 24px;
    
}
#menukontakt{
    background-repeat: no-repeat; 
    background-position: 0 -336px;
    text-indent: 24px;
    
}
#menuhome:hover {
    background-position: 0px 0px;
}
#menulaboration:hover {
    background-position: 0px -96px;
}
#menupresentation:hover {
    background-position: 0px -192px;
}
#menukontakt:hover {
    background-position: 0px -288px;
}
#pingu:hover{
    transform: rotate(20deg) scale(1.6) translate(50px);    
}

#BigBuck{
    width:320px; height:240px;
}

#Videoklipp{
    width:320px; height:240px;    
}
#fencerspic {
    max-width: 460px;
}

.right{
        float: right;
}
.left{
        float: left;
}

#Labbresultat {
    border: solid 1px black ;
}
#Labbresultat th, td{
    border: solid 1px black ;
}
thead, tr{
    border: solid 1px black ;
}
/***************     Typo     *****************/


p, h1, h2, h3 {
      color: #D93E27;
      font-family: Georgia, "Times New Roman", Times, serif;
}


li, dd, dt {
    font-family: Georgia, "Times New Roman", Times, serif;  
    color: #D93E27;
}


a {
    font-family: Georgia, "Times New Roman", Times, serif;  
    color: #D93E27;
    font-style: italic;
    font-weight: bold;    
}

a:hover { 
    background-color: #3D402A;
    color:#F3E789;
}

.navigation li a { 
    font-style: normal;
    font-weight: normal;       
}

p {
      font-size: 1.2em;
}

.dikt:hover {
    font-weight: bold;
    transform:  scale(1.0) ;
}

.diktstycke {
    font-style: italic;
    font-size: 0.8em;
    padding-left: 100px;
       
}

.tribut{
     padding-left: 100px;   
 
}

/***************     Media     *****************/

@media print {
    header {
        opacity: 1.0;
    }    
    .navigation {
        display:none;
    }
    
    .internalLabLinks {
        display:none;
    }
  
    a, p, ol li, ul li, h1, h2, h3 {
          color: black;
          font-family: "Times New Roman", Times, serif;
    }
      
    container {
        color:black;
    }
   video {
        display : none;
    }
    iframe {
        display:none;
    }
    *::-controls {
        display: none;
    }
    Main {  
        margin-left: 0;  
        color:black;        
    }
    Main a:after {
        content: " (" attr(href) ")";
        color:black;  
    }
}
