@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

/*
* {
    border: 1px solid red;                
}
*/

body { 
    
}

.navigation{
    float: left;
    margin: 5px; 
    list-style:none;
}
.navigation ul{ 
    border: 1px solid black;  
    border-bottom: none;
    margin: 30;
    padding: 0;
}
.navigation li{ 
    border: 1px solid black;  
    border-bottom: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation li a{ 
    display: block;
    background-color: #9C9;
    color:#EFE;
    padding: 10px;
}
.navigation li a:hover{ 
    background-color: #EFE;
    color:#9C9;
}