@import url("http://meyerweb.com/eric/tools/css/reset/reset.css");

/*
* {
    border: 1px solid red;                
}
*/

/***************     Layout     *****************/

/*

background body #FFF6B1
background container #FFF6B1
footer   #F3E789
border #3D402A
navigation  #3D402A / #F3FFA9;
dikt #D93E27
text  #3D402A

*/

body { 
    background-color: #FFF6B1;
}

#indexHeader{
    border: 1px solid #F3E789;  
    background-color: #F3E789;    
    padding: 40px;
    background-image: url(pics/smallLogo.png); 
    background-repeat: round;
/*    background-size: cover; */
    opacity: 0.5;
}

#container{
    max-width: 960px;
    overflow: auto;
    margin: 0 auto;
    background-color: #FFF6B1;   
    border: 2px solid #3D402A;
}

#content{
    border: 1px solid #FFF6B1;
    overflow: auto;    
    margin-left: 180px;
}

#sidebar{
    
}
#footer{
    border: 1px solid #F3E789;  
    padding-top: 60px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: #F3E789;

}
#contact-form{ width: 500px;}

#contact-form label { 
    width: 180px;
    text-align: right;
    display: block;
    float: left;
    padding-right: 10px;
    clear: left;
}

#contact-form textarea, input { 
    width: 240px;
}

#contact-form textarea { 
    height: 100px;
    resize:vertical;

}
.bloggpost{
       overflow: auto;  
}

.not{
    background-image: url(pics/SPbaun6.ico); 
    background-repeat: no-repeat; 
    background-position: top left;
    text-indent: 40px;
}

.dikt{
    color: #D93E27;
}

.diktstycke{
}

.tribut{
}

#pingu:hover{
    transform: rotate(20deg) scale(1.6) translate(50px);    
}

#BigBuck{
    width="320" height="240"
}

#Videoklipp{
    width="320" height="240"
}
.right{
        float: right;
}
.left{
        float: left;
}
.navigation{
    float: left;
    width: 120px;
    list-style:none;
}

.navigation ul{ 
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.navigation li{ 
    border: 1px solid #FFF6B1;  
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li a{ 
    display: block;
    background-color: #F3E789;
    color: #3D402A;
    padding: 18px;
}

.navigation li a:hover{ 
    background-color: #3D402A;
    color:#F3E789;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.1;
    transform: scale(1.25);
}

/***************     Typo     *****************/

p, h1, h2, h3 {
      color: #D93E27;
      font-family: Georgia, "Times New Roman", Times, serif;
}

li {
    font-family: Georgia, "Times New Roman", Times, serif;  
    color: #D93E27;
}


a {
    font-family: Georgia, "Times New Roman", Times, serif;  
    color: #D93E27;
    font-style: italic;
    font-weight: bold;    
}

a:hover { 
    background-color: #3D402A;
    color:#F3E789;
}

.navigation li a { 
    font-style: normal;
    font-weight: normal;       
}

p {
      font-size: 1.2em;
}

.dikt:hover {
    font-weight: bold;
    transform:  scale(1.0) ;
}

.diktstycke {
    font-style: italic;
    font-size: 0.8em;
    padding-left: 100px;
       
}

.tribut{
     padding-left: 100px;   
 
}

